@import url(src/core/css-core/import-core.css);
:root {
  --max-width: $max-width; }

:root {
  --first-color: $first-color;
  --second-color: #ee4f27;
  --third-color: #28a745;
  --four-color: #eeeeee;
  --text-color-default: #575e66;
  --color-white: #ffffff;
  --color-button-default: #279bee;
  --color-button-alt-default: #1290e9;
  --color-button-text-default: #ffffff;
  --color-button-disable-default: #86c7f5;
  --color-button-disable-text-default: #ffffff;
  --color-button: var(--color-button-default);
  --color-button-alt: var(--color-button-alt-default);
  --color-button-disable: var(--color-button-disable-default);
  --color-button-text: var(--color-button-text-default);
  --color-button-disable-text: var(--color-button-disable-text-default);
  --round-width: 32px;
  --round-height: 32px; }

:root {
  --border-color-default: #ddd;
  --border-color: var(--border-color-default);
  --solid-style: solid;
  --dotted-style: dotted;
  --dashed-style: dashed;
  --double-style: double;
  --border-style-default: var(--solid-style);
  --border-style: var(--border-style-default);
  --border-size-default: 1px;
  --border-size: var(--border-size-default); }

:root {
  --gap-default: 1rem;
  --gap: var(--gap-default); }

:root {
  --border-form-color-default: #dbdbdb;
  --border-form-color: var(--border-form-color-default);
  --text-form-color-default: #919191;
  --text-form-color: var(--text-form-color-default);
  --label-text-form-color-default: #363839;
  --label-text-form-color: var(--label-text-form-color-default);
  --background-inside-form-color-default: #fafafa;
  --background-inside-form-color: var(--background-inside-form-color-default);
  --placeholder-form-color-default: #bebebe;
  --placeholder-form-color: var(--placeholder-form-color-default); }

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
