@each $size in $sizes {
	@include from($size) {
		.is {
			&-hidden-from-#{$size} {
				visibility: hidden !important;
			}
			&-none-from-#{$size} {
				display: none !important;
			}
		}
	}
	@include to($size) {
		.is {
			&-hidden-to-#{$size} {
				visibility: hidden !important;
			}
			&-none-to-#{$size} {
				display: none !important;
			}
		}
	}
}
