:root {
    --color: #1192ee;
    --color-alt:#0e80d1;
    --color-disable:#7abdec;
    --color-button-text: #ffffff;
    --color-button-disable-text:#f3f3f3;
    --blue-color:var(--color);
    --blue-color-alt:var(--color-alt);
    --blue-color-disable:var(--color-disable);
    --round-width: 32px;
    --round-height: 32px;
}