// Clases para el color del boton
.blue-color {
	--color: #1192ee;
	--color-alt: #0e80d1;
	--color-disable: #7abdec;
}
.green-color {
	--color: #28a745;
	--color-alt: #26923f;
	--color-disable: #9feeb3;
}
.red-color {
	--color: #dc3545;
	--color-alt: #c52f3e;
	--color-disable: #e09ba2;
}
.celeste-color {
	--color: #4fc2f3;
	--color-alt: #44a9d4;
	--color-disable: #95d5f0;
}
.orange-color {
	--color: #ffc107;
	--color-alt: #f3b807;
	--color-disable: #ffd966;
}
.dark-color {
	--color: #343a40;
	--color-alt: #5e6770;
	--color-disable: #dfdfdf;
}
.sea-color {
	--color: #30c6ab;
	--color-alt: #2bac94;
	--color-disable: #a9d6ce;
}
.text-color {
	--color: #6c757d;
	--color-alt: #5d646b;
	--color-disable: #5b6369;
}
.light-color {
	--color: #eff3f5;
	--color-alt: #f7f7f7;
	--color-disable: #f8f9fa;
	--color-button-text: #6d6c6c;
}


// Clases para el color del border
.blue-form-color {
	--border-form: #1192ee;
}
.green-form-color {
	--border-form: #28a745;
}
.red-form-color {
	--border-form: #dc3545;
}
.celeste-form-color {
	--border-form: #4fc2f3;
}
.orange-form-color {
	--border-form: #ffc107;
}
.dark-form-color {
	--border-form: #343a40;
}
.sea-form-color {
	--border-form: #30c6ab;
}
.text-form-color {
	--border-form: #6c757d;
}
.light-form-color {
	--border-form: #eff3f5;
}