:root {
    --color: rgb(17, 146, 238);
    --color-alt:#0e80d1;
    --color-disable:#7abdec;
    --color-button-text: #ffffff;
    --color-button-disable-text:#f3f3f3;
    --color-white:#fff;
    --blue-color:var(--color);
    --blue-color-alt:var(--color-alt);
    --blue-color-disable:var(--color-disable);
    --round-width: 32px;
    --round-height: 32px;
}

:root{
    --border-form:#dbdbdb;
    --text-form:#919191;
    --label-text-form:#363839;
    --fill-form:#fafafa;
    --background-inside-form:#fafafa;
    --placeholder-form:#bebebe;
}