// Clases para el color del boton
.blue-button-color {
	$blue-color-button: #1192ee;
	--color-button: #{$blue-color-button};
	--color-button-alt: #{darken($blue-color-button, 5%)};
	--color-button-disable: #{lighten($blue-color-button, 20%)};
}
.green-button-color {
	$green-color-button: #28a745;
	--color-button: #{$green-color-button};
	--color-button-alt: #{darken($green-color-button, 5%)};
	--color-button-disable: #{lighten($green-color-button, 20%)};
}
.red-button-color {
	$red-color-button: #dc3545;
	--color-button: #{$red-color-button};
	--color-button-alt: #{darken($red-color-button, 5%)};
	--color-button-disable: #{lighten($red-color-button, 20%)};
}
.celeste-button-color {
	$celeste-color-button: #4fc2f3;
	--color-button: #{$celeste-color-button};
	--color-button-alt: #{darken($celeste-color-button, 5%)};
	--color-button-disable: #{lighten($celeste-color-button, 20%)};
}
.orange-button-color {
	$orange-green-color-button: #ffc107;
	--color-button: #{$orange-green-color-button};
	--color-button-alt: #{darken($orange-green-color-button, 5%)};
	--color-button-disable: #{lighten($orange-green-color-button, 20%)};
}
.dark-button-color {
	$dark-color-button: #343a40;
	--color-button: #{$dark-color-button};
	--color-button-alt: #{darken($dark-color-button, 5%)};
	--color-button-disable: #{lighten($dark-color-button, 20%)};
}
.sea-button-color {
	$sea-color-button: #30c6ab;
	--color-button: #{$sea-color-button};
	--color-button-alt: #{darken($sea-color-button, 5%)};
	--color-button-disable: #{lighten($sea-color-button, 20%)};
}
.gray-button-color {
	$gray-color-button: #6c757d;
	--color-button: #{$gray-color-button};
	--color-button-alt: #{darken($gray-color-button, 5%)};
	--color-button-disable: #{lighten($gray-color-button, 10%)};
}
.light-button-color {
	$light-color-button: #eeeeee;
	--color-button: #{$light-color-button};
	--color-button-alt: #{darken($light-color-button, 5%)};
	--color-button-disable: #{lighten($light-color-button, 1%)};
	--color-button-text: #6d6c6c;
}
.softgray-button-color {
	$softgray-color-button: #ddd;
	--color-button: #{$softgray-color-button};
	--color-button-alt: #{darken($softgray-color-button, 5%)};
	--color-button-disable: #{lighten($softgray-color-button, 5%)};
	--color-button-text: #6d6c6c;
}

// Clases para el color del border
.blue-form-color {
	--border-form-color: #1192ee;
	border-color: var(--border-form-color);
}
.green-form-color {
	--border-form-color: #28a745;
	border-color: var(--border-form-color);
}
.red-form-color {
	--border-form-color: #dc3545;
	border-color: var(--border-form-color);
}
.celeste-form-color {
	--border-form-color: #4fc2f3;
	border-color: var(--border-form-color);
}
.orange-form-color {
	--border-form-color: #ffc107;
	border-color: var(--border-form-color);
}
.dark-form-color {
	--border-form-color: #343a40;
	border-color: var(--border-form-color);
}
.sea-form-color {
	--border-form-color: #30c6ab;
	border-color: var(--border-form-color);
}
.gray-form-color {
	--border-form-color: #6c757d;
	border-color: var(--border-form-color);
}
.light-form-color {
	--border-form-color: #eaeff1;
	border-color: var(--border-form-color);
}
.softgray-form-color {
	--border-form-color: #ddd;
	border-color: var(--border-form-color);
}
