// Clases para el color del boton
.blue-button-color {
	--color-button: #1192ee;
	--color-button-alt: #0e80d1;
	--color-button-disable: #7abdec;
}
.green-button-color {
	--color-button: #28a745;
	--color-button-alt: #26923f;
	--color-button-disable: #9feeb3;
}
.red-button-color {
	--color-button: #dc3545;
	--color-button-alt: #c52f3e;
	--color-button-disable: #e09ba2;
}
.celeste-button-color {
	--color-button: #4fc2f3;
	--color-button-alt: #44a9d4;
	--color-button-disable: #95d5f0;
}
.orange-button-color {
	--color-button: #ffc107;
	--color-button-alt: #f3b807;
	--color-button-disable: #ffd966;
}
.dark-button-color {
	--color-button: #343a40;
	--color-button-alt: #5e6770;
	--color-button-disable: #dfdfdf;
}
.sea-button-color {
	--color-button: #30c6ab;
	--color-button-alt: #2bac94;
	--color-button-disable: #a9d6ce;
}
.gray-button-color {
	--color-button: #6c757d;
	--color-button-alt: #5d646b;
	--color-button-disable: #5b6369;
}
.light-button-color {
	--color-button: #eff3f5;
	--color-button-alt: #f7f7f7;
	--color-button-disable: #f8f9fa;
	--color-button-text: #6d6c6c;
}
.softgray-button-color {
	--color-button: #ddd;
	--color-button-alt: #b6b3b3;
	--color-button-disable: #fafafa;
	--color-button-text: #6d6c6c;
}

// Clases para el color del border
.blue-form-color {
	--border-form: #1192ee;
	border-color: var(--border-form);
}
.green-form-color {
	--border-form: #28a745;
	border-color: var(--border-form);
}
.red-form-color {
	--border-form: #dc3545;
	border-color: var(--border-form);
}
.celeste-form-color {
	--border-form: #4fc2f3;
	border-color: var(--border-form);
}
.orange-form-color {
	--border-form: #ffc107;
	border-color: var(--border-form);
}
.dark-form-color {
	--border-form: #343a40;
	border-color: var(--border-form);
}
.sea-form-color {
	--border-form: #30c6ab;
	border-color: var(--border-form);
}
.gray-form-color {
	--border-form: #6c757d;
	border-color: var(--border-form);
}
.light-form-color {
	--border-form: #eaeff1;
	border-color: var(--border-form);
}
.softgray-form-color {
	--border-form: #ddd;
	border-color: var(--border-form);
}
