@use "../../core/functions" as function;
@use "../../core/mixin" as mixin;

@each $size in function.$sizes {
	@include mixin.from($size) {
		@for $i from 1 through 9 {
			.fw#{$i*100}-#{$size} {
				font-weight: ($i * 100);
			}
		}
	}

	@include mixin.from($size) {
		@for $i from 1 through 9 {
			.ls0#{$i}-#{$size} {
				letter-spacing: $i * 0.1px;
			}
		}
		@for $i from 10 through 50 {
			.ls#{$i}-#{$size} {
				letter-spacing: $i * 0.1px;
			}
		}
		.lsn-#{$size} {
			letter-spacing: normal;
		}
	}
}
