:root {
	--border-color: #000000;
	--background: #eeeeee;
	--text: #000000;
	--white: #ffffff;
	--black: #000000;
	--blue-color: #1192ee;
	--green-color: #28a745;
	--red-color: #dc3545;
	--celeste-color: #4fc2f3;
	--orange-color: #ffc107;
	--dark-color: #343a40;
	--sea-color: #30c6ab;
	--text-color: #6c757d;
	--light-color: #eff3f5;
	--gray-color:#dddddd;
}
