// Configuraciones
$max-width: 1200px !default;
$l-unit: 0.5rem !default;
$gap: $l-unit * 4 !default; // 2rem

// color default del tema
:root {
		//Paleta de colores
	$first-color: #279bee;
	--first-color: $first-color;
	--second-color: #ee4f27;
	--third-color: #28a745;
	--four-color: #eeeeee;

	//Color de texto default
	--text-color-default: #575e66;

	--color-white: #ffffff;

	//Custom Colores Botones default
	$color-button-default: $first-color;
	--color-button-default: #{$color-button-default};
	--color-button-alt-default: #{darken($color-button-default, 5%)};
	--color-button-text-default: #ffffff;
	--color-button-disable-default: #{lighten($color-button-default, 20%)};
	--color-button-disable-text-default: #ffffff;
	--color-button: var(--color-button-default);
	--color-button-alt: var(--color-button-alt-default);
	--color-button-disable: var(--color-button-disable-default);
	--color-button-text: var(--color-button-text-default);
	--color-button-disable-text: var(--color-button-disable-text-default);
	--round-width: 32px;
	--round-height: 32px;
}

//Variables para bordes
:root {
	--border-color-default: #ddd;
	--border-color: var(--border-color-default);
	--solid-style: solid;
	--dotted-style: dotted;
	--dashed-style: dashed;
	--double-style: double;
	--border-style-default: var(--solid-style);
	--border-style: var(--border-style-default);
	--border-size-default: 1px;
	--border-size: var(--border-size-default);
}

//Espacio entre cajas en display grid
:root {
	--gap-default: 1rem;
	--gap: var(--gap-default);
}

:root {
	--border-form-color-default: #dbdbdb;
	--border-form-color: var(--border-form-color-default);
	--text-form-color-default: #919191;
	--text-form-color: var(--text-form-color-default);
	--label-text-form-color-default: #363839;
	--label-text-form-color: var(--label-text-form-color-default);
	--background-inside-form-color-default: #fafafa;
	--background-inside-form-color: var(--background-inside-form-color-default);
	--placeholder-form-color-default: #bebebe;
	--placeholder-form-color: var(--placeholder-form-color-default);
}