// Configuraciones
$max-width: 1200px !default;
$l-unit: 0.5rem !default;
$gap: $l-unit * 4 !default; // 2rem

:root {
	--border-size: 1px;
	--solid-style: solid;
	--dotted-style: dotted;
	--dashed-style: dashed;
	--double-style: double;
    --border-style: var(--solid-style);
}
